/*---- PALETA DE COLOR ----*/
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap");
.ver {
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease; }
  .ver:hover {
    color: #c1bcbc; }

.hero p, .portfolio .retratos h2,
.portfolio .naturaleza h2, .intencional div p {
  text-transform: uppercase;
  letter-spacing: 0.2em; }

.clientes .cards-clientes .cards img {
  padding-bottom: 40px; }

.clientes .cards-clientes .cards p {
  line-height: 1.7rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding-right: 80px;
  text-align: left;
  padding-bottom: 40px; }

.clientes .cards-clientes .cards h4 {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4em; }

.nav {
  background-color: #e1e1d8; }

.navbar {
  padding-left: 80px;
  padding-right: 80px; }

.navbar-brand {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.03em; }

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  font-size: 0.9rem; }

.navbar-collapse {
  flex-grow: 0; }

.hero {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(../img/apertura.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 78px; }
  .hero h2 {
    font-size: 4rem;
    font-weight: 200; }
  .hero p {
    font-size: 0.76rem;
    font-weight: 500;
    margin-top: 10px; }

.bienvenido {
  padding-top: 200px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .bienvenido div {
    margin-bottom: 36px; }
    .bienvenido div img {
      max-width: 100%; }
  .bienvenido div h2 {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    padding-bottom: 5px; }
  .bienvenido div p {
    letter-spacing: 0.1em;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.5rem; }

.portfolio {
  height: 649px;
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .portfolio .retratos,
  .portfolio .naturaleza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 180px;
    background-repeat: no-repeat;
    background-size: cover; }
    .portfolio .retratos h2,
    .portfolio .naturaleza h2 {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      padding-bottom: 8px; }
  .portfolio p {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.09em;
    padding-bottom: 22px;
    text-align: center; }

.ver {
  color: #fffFFF; }

.retratos {
  background-image: url(https://imgur.com/avfBGzA); }

.naturaleza {
  background-image: url(https://imgur.com/undefined); }

.clientes {
  padding: 0px;
  width: 90%;
  margin: auto;
  margin-bottom: 80px; }
  .clientes .menu-clientes {
    margin-top: 110px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; }
    .clientes .menu-clientes h2 {
      letter-spacing: 0.2em;
      font-size: 1rem;
      font-weight: 400;
      text-transform: lowercase;
      display: inline-block; }
  .clientes .cards-clientes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    justify-content: center;
    margin-top: 40px;
    width: 100%; }

.acercademi-container {
  margin: 0px 85px; }
  .acercademi-container .presentacion {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 60px; }
    .acercademi-container .presentacion .bajada h3 {
      font-size: 2.3rem;
      font-weight: 300;
      line-height: 2.8rem;
      padding-bottom: 15px;
      width: 90%; }
    .acercademi-container .presentacion .bajada p {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.26em; }
    .acercademi-container .presentacion .encabezado-img-container {
      width: 100%;
      overflow: hidden; }
      .acercademi-container .presentacion .encabezado-img-container .presentacion-image {
        width: 100%;
        background-image: url(../img/presentacion.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 520px;
        margin-top: 5%; }
  .acercademi-container .acercade {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 80px 0;
    margin-top: 100px; }
    .acercademi-container .acercade .bio-img-container {
      width: 35%;
      overflow: hidden; }
      .acercademi-container .acercade .bio-img-container img {
        max-width: 100%;
        height: auto; }
    .acercademi-container .acercade .bio {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .acercademi-container .acercade .bio h2 {
        text-align: left;
        text-transform: lowercase;
        font-size: 2rem;
        font-weight: 300;
        position: relative;
        display: inline-block;
        width: 28%; }
        .acercademi-container .acercade .bio h2.subrayado-hover:hover::after {
          width: 100%; }
        .acercademi-container .acercade .bio h2::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 50px;
          background-color: rgba(149, 149, 149, 0.147);
          transform-origin: left;
          transition: width 0.8s ease; }
      .acercademi-container .acercade .bio h5 {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 0.8rem;
        font-weight: 300;
        color: #3c3c3c;
        padding-bottom: 40px; }
      .acercademi-container .acercade .bio p {
        font-size: 1.1rem;
        text-align: left;
        padding-bottom: 80px;
        line-height: 2rem; }
      .acercademi-container .acercade .bio h6 {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 400;
        letter-spacing: 0.2em;
        line-height: 1.2rem;
        width: 66%;
        color: #3c3c3c; }
  .acercademi-container .mensajeame {
    background-color: #EFF0F0;
    padding: 160px 120px 140px 120px;
    display: flex;
    flex-direction: column;
    align-items: center !important; }
    .acercademi-container .mensajeame div p {
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 0.8rem;
      text-align: center; }
    .acercademi-container .mensajeame div h2 {
      text-transform: inherit;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 3.2rem;
      padding-bottom: 40px;
      text-align: center; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin: 80px; }
  .grid-container div {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .grid-container .item1 {
    position: relative;
    grid-column: 1 / 5; }
  .grid-container .image-container {
    position: relative;
    overflow: hidden; }
    .grid-container .image-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 0.4s ease; }
  .grid-container .image-container:hover::before {
    opacity: 0.5; }

.animation-container {
  display: flex;
  justify-content: center;
  padding-top: 100px; }
  .animation-container .anim {
    height: 5px;
    width: 5px;
    color: #c1bcbc;
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px;
    animation: loader-38 6s infinite; }

@keyframes loader-38 {
  0% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px; }
  8.33% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px, 10px -10px 0 5px; }
  16.66% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px; }
  24.99% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px; }
  33.32% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px -10px 0 5px; }
  41.65% {
    box-shadow: 10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, 10px -10px 0 5px; }
  49.98% {
    box-shadow: 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px; }
  58.31% {
    box-shadow: -10px 10px 0 5px, -10px 10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px; }
  66.64% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px; }
  74.97% {
    box-shadow: -10px -10px 0 5px, 10px -10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px; }
  83.3% {
    box-shadow: -10px -10px 0 5px, 10px 10px 0 5px, 10px 10px 0 5px, -10px 10px 0 5px; }
  91.63% {
    box-shadow: -10px -10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px, -10px 10px 0 5px; }
  100% {
    box-shadow: -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px, -10px -10px 0 5px; } }

.trabajemosjuntos {
  padding: 120px 160px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .trabajemosjuntos div p {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8rem;
    text-align: center; }
  .trabajemosjuntos div h2 {
    text-transform: inherit;
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 3rem;
    padding: 0px 140px;
    padding-bottom: 40px;
    text-align: center; }
  .trabajemosjuntos p {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 0.8rem;
    text-align: center; }

.intencional {
  margin: 80px 0 100px 0; }
  .intencional div {
    text-align: center; }
    .intencional div h2 {
      font-size: 4.4rem;
      font-weight: 200;
      letter-spacing: 0.02em;
      text-transform: inherit;
      padding-bottom: 6px; }
    .intencional div p {
      font-size: 0.78rem;
      line-height: 1.2rem; }

.cards-intencional {
  width: 80%;
  margin: 0 auto;
  display: grid;
  text-align: center; }
  .cards-intencional .notas {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 140px; }
    .cards-intencional .notas p {
      font-size: 1rem;
      line-height: 1.6rem;
      margin: 0px;
      width: 60%; }
    .cards-intencional .notas h2 {
      text-transform: initial;
      font-size: 2rem;
      width: 50%;
      margin: 50px auto;
      margin-bottom: 3%;
      font-weight: 300; }
    .cards-intencional .notas h3 {
      background-color: #000000;
      padding: 16px 36px;
      font-size: 0.8rem;
      letter-spacing: 0.3em;
      font-weight: 500;
      margin-top: 40px;
      color: #fffFFF; }
    .cards-intencional .notas .image-wrap {
      width: 80%;
      height: 500px;
      overflow: hidden;
      margin-top: 3%; }
    .cards-intencional .notas .first-img-container,
    .cards-intencional .notas .second-img-container,
    .cards-intencional .notas .third-img-container {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat; }
    .cards-intencional .notas .first-img-container {
      background-image: url(../img/intencional1b.jpg); }
    .cards-intencional .notas .second-img-container {
      background-image: url(../img/intencional2c.jpg); }
    .cards-intencional .notas .third-img-container {
      background-image: url(../img/intencional3b.jpg); }

.cabezalcontacto {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(../img/contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fffFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 78px; }
  .cabezalcontacto p {
    letter-spacing: 0.4em;
    font-size: 0.9rem;
    margin-bottom: 0.3rem; }
  .cabezalcontacto h2 {
    text-transform: inherit;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 3rem; }

.contacto {
  width: 86%;
  margin: 0 auto;
  margin-top: -220px;
  margin-bottom: 160px; }

.contactotexto {
  width: 80%;
  margin: 0 auto;
  display: grid;
  background-color: #EFF0F0;
  display: flex;
  flex-direction: row;
  margin-bottom: 160px;
  margin-top: -200px; }
  .contactotexto p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.9rem;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 80px 0; }

.formulario div h2 {
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 300;
  font-size: 2.4rem;
  margin-bottom: 100px;
  text-transform: inherit; }

.formulario .formulario-ok {
  width: 66%;
  margin: 0 auto;
  margin-bottom: 160px; }

.formulario .form-floating {
  margin: 25px 0; }

.formulario-ok .row {
  margin-bottom: 25px; }

.formulario-ok .col-12 {
  margin-bottom: 25px; }

.formulario-ok .g-3 {
  margin-bottom: 25px; }

footer {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px; }
  footer .footer-div {
    width: 33%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    footer .footer-div h2 {
      font-size: 1.4rem;
      letter-spacing: 0.12em;
      font-weight: 500;
      text-transform: uppercase; }
    footer .footer-div i {
      color: #3c3c3c;
      font-size: 36px;
      padding: 0 8px;
      opacity: 0.7; }
      footer .footer-div i:hover {
        opacity: 1; }
    footer .footer-div h1 {
      font-size: 2.3rem;
      font-weight: 700;
      text-transform: uppercase !important;
      letter-spacing: 0.03em;
      margin-top: -4px; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100%; }
  /*---- INDEX ----*/
  .hero h2 {
    font-size: 4rem;
    line-height: 3.8rem;
    font-weight: 200;
    padding: 0 150px; }
  .hero p {
    font-size: 0.8rem;
    padding: 0 150px; }
  .bienvenido h2 {
    font-size: 3.4rem; }
  .bienvenido p {
    font-size: 1.4rem;
    line-height: 1.9rem;
    margin: 0 100px; }
  .portfolio {
    display: flex;
    flex-direction: column;
    height: 100vh; }
    .portfolio .content {
      height: 780px; }
      .portfolio .content h2 {
        font-size: 1.5rem; }
      .portfolio .content p {
        font-size: 1.1rem; }
      .portfolio .content .ver {
        font-size: 1.1rem; }
  .clientes {
    padding: 0;
    margin-bottom: 60px; }
    .clientes .menu-clientes {
      margin: auto;
      margin-top: 80px;
      margin-bottom: 40px;
      width: 90%; }
    .clientes .cards-clientes {
      grid-template-columns: auto auto auto;
      grid-column-gap: 30px;
      width: 90%;
      margin: auto; }
      .clientes .cards-clientes .cards img {
        padding-bottom: 30px;
        width: 100%; }
      .clientes .cards-clientes .cards h4 {
        font-size: 0.8rem; }
      .clientes .cards-clientes .cards p {
        font-size: 0.8rem;
        padding-right: 0px;
        padding-bottom: 30px; }
  .clientes h2 {
    font-size: 1rem; }
  .clientes .btn-vermas {
    font-size: 0.6rem; }
  /*---- ACERCA DE MI ----*/
  .acercademi-container .presentacion {
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    flex-wrap: nowrap; }
    .acercademi-container .presentacion .bajada p {
      text-align: left;
      margin-right: 120px; }
  .acercademi-container .acercade {
    flex-direction: column-reverse; }
    .acercademi-container .acercade .bio-img-container {
      width: 100%; }
  .acercade .bio {
    margin: 0;
    margin-top: 60px; }
  .grid-container {
    grid-template-columns: auto auto;
    gap: 10px;
    margin: 10px;
    margin-top: 50px; }
    .grid-container .item1 {
      grid-column: 1 / 3; }
    .grid-container img {
      max-width: 100%;
      height: auto; }
  .trabajemosjuntos {
    width: 100%;
    padding: 100px 0px; }
    .trabajemosjuntos h2 {
      padding: 10px 50px; }
  /*---- BLOG ----*/
  .intencional {
    width: 85%;
    margin: 14% auto; }
    .intencional div h2 p {
      padding: 0 120px 0 90px;
      text-align: left; }
  .cards-intencional .notas h2 {
    width: 90%; }
  .cards-intencional .notas p {
    width: 80%; }
  .cards-intencional .notas .image-wrap {
    width: 100%; }
    .cards-intencional .notas .image-wrap .image {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
  /*---- CONTACTO ----*/
  .cabezalcontacto {
    padding-top: 160px; }
  .formulario div h2 {
    padding: 0 80px; }
  footer {
    justify-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    margin-bottom: 80px;
    gap: 60px; }
    footer .footer-div {
      width: 60%; }
      footer .footer-div h2 {
        font-size: 1.9rem; }
      footer .footer-div p {
        font-size: 1.4rem;
        line-height: 1.9rem; }
      footer .footer-div .btn-contacto {
        margin-top: 10px;
        font-size: 1.2rem; }
    footer .logo {
      display: none; }
  .image-wrap {
    width: 100%;
    height: 400px; }
  .contactotexto {
    margin-top: -100px; } }

@media screen and (max-width: 450px) {
  .navbar {
    padding: 20px; }
  .navbar-brand {
    font-size: 1.9rem; }
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 350px; }
  .hero h2 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 200;
    padding: 0 30px; }
  .hero p {
    font-size: 0.8rem;
    padding: 0 30px; }
  .bienvenido {
    padding-top: 100px;
    padding-bottom: 30px; }
    .bienvenido div h2 {
      font-size: 2rem; }
    .bienvenido div p {
      font-size: 0.8rem;
      line-height: 1.3rem;
      margin: 0 35px; }
  .portfolio .content h2 {
    font-size: 1.2rem;
    padding-bottom: 0; }
  .portfolio .content p {
    font-size: 0.8rem;
    padding: 0 20px 0 20px; }
  .portfolio .content .ver {
    font-size: 1rem; }
  .clientes {
    padding: 0 20px;
    margin-bottom: 40px; }
    .clientes .menu-clientes {
      margin-top: 60px;
      margin-bottom: 30px;
      flex-direction: column;
      align-items: flex-start; }
      .clientes .menu-clientes h2 {
        font-size: 0.9rem; }
    .clientes .cards-clientes {
      grid-template-columns: 1fr;
      row-gap: 100px; }
      .clientes .cards-clientes p {
        font-size: 0.9rem;
        line-height: 1.6rem;
        padding: 0; }
      .clientes .cards-clientes .cards img {
        padding-bottom: 20px; }
      .clientes .cards-clientes .cards p {
        font-size: 0.8rem;
        padding-right: 20px;
        padding-bottom: 20px; }
      .clientes .cards-clientes .cards h4 {
        font-size: 0.75rem; }
  .trabajemosjuntos div h2 {
    font-size: 1.8rem;
    padding: 20px 0;
    width: 80%;
    margin: auto; }
  .acercademi-container {
    margin: 0 35px; }
  .acercademi-container .mensajeame {
    padding: 80px 60px 70px 60px; }
  .acercademi-container .mensajeame div h2 {
    font-size: 2.2rem;
    line-height: 3rem; }
  .acercademi-container .presentacion .bajada p {
    font-size: 0.7rem; }
  .acercademi-container .acercade .bio h6 {
    width: 100%; }
  .presentacion {
    margin-top: 10%; }
  .bajada h3 {
    font-size: 2.3rem;
    line-height: 2.8rem; }
  .presentacion-image {
    height: 500px;
    background-size: 320%; }
  .bio-img-container {
    width: 100%; }
  .mensajeame {
    padding: 80px 50px; }
  .mensajeame h2 {
    font-size: 1.7rem;
    line-height: 2.8rem; }
  .cabezalcontacto {
    background-position: center; } }

footer {
  width: 100%;
  margin: 0 0 50px 0; }
  footer .footer-div h2 {
    font-size: 1.4rem;
    font-weight: 500; }
  footer .footer-div p {
    font-size: 0.9rem;
    line-height: 1.2rem; }
  footer .footer-div .redes {
    margin-top: -10px; }
  footer .footer-div .btn-contacto {
    font-size: 0.7rem;
    margin-top: 10px; }

/*---- FUENTE GOOGLE FONT ----*/
/*---- RESET ----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Hanken Grotesk', sans-serif; }

a {
  text-decoration: none; }

/*---- INDEX ----*/
.btn-vermas {
  letter-spacing: 0.3em;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  color: #000000; }
  .btn-vermas:hover {
    text-decoration: none;
    color: #c1bcbc; }

/*---- carousel ----*/
.newblog {
  margin-bottom: 120px; }

.carousel-item h5 {
  font-size: 2rem;
  font-weight: 300; }

.carousel-item p {
  font-size: 1.3rem;
  font-weight: 300; }

/*---- btn-mensajeame ----*/
.btn-mensajeame {
  font-size: 1rem;
  letter-spacing: 0.2em;
  margin-top: 40px;
  padding: 10px 30px;
  background-color: #c1bcbc;
  color: #000000; }
  .btn-mensajeame:hover {
    text-decoration: none;
    color: #EFF0F0; }

hr.solid {
  border-top: 1.2px solid #3c3c3c;
  width: 90%;
  margin: auto;
  margin-bottom: 80px; }

.btn-contacto {
  font-size: 0.7rem;
  letter-spacing: 0.2em;
  margin-top: 40px;
  padding: 10px 30px;
  background-color: #3c3c3c;
  color: #dcdcdc;
  text-transform: uppercase;
  margin: 0 140px;
  width: auto;
  margin: auto; }
  .btn-contacto:hover {
    background-color: #000000;
    text-decoration: none;
    color: #c1bcbc; }
