/*---- PALETA DE COLOR ----*/
$paleta-colores:(
#e1e1d8,
#c1bcbc,
#3c3c3c,
#EFF0F0,
#000000,
#fffFFF
);


@mixin custom-button($font-size, $margin-top, $padding, $background-color, $text-color, $hover-color) {
    font-size: $font-size;
    letter-spacing: 0.2em;
    margin-top: $margin-top;
    padding: $padding;
    background-color: $background-color;
    color: $text-color;
    &:hover {
        text-decoration: none;
        color: $hover-color;
    }
}

%boton-base{
    letter-spacing: 0.1em;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: nth($paleta-colores, 2);
    }
}

%upperspacing{
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

%cardstyle{
    img {
        padding-bottom: 40px;
    }

    p {
        line-height: 1.7rem;
        font-size: 0.9rem;
        font-weight: 300;
        padding-right: 80px;
        text-align: left;
        padding-bottom: 40px;
    }

    h4 {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.4em;
    }
    }